.keymap-key {
  outline: solid;
  outline-width: 1px;
  outline-color: black;
  user-select: none;
  border-radius: 5px 5px;

  .legend-container {
    width: 100%;
    height: 100%;
  }

  :hover {
    background-color: whitesmoke;
  }

  .mod-legend {
    font-size: 11px;
    text-align: center;
    height: 100%;
  }

  .main-legend {
    font-size: 14px;
    text-align: center;
    align-items: center;
    height: 100%;
  }

  .hold-legend {
    font-size: 11px;
    text-align: center;
    height: 100%;
  }
}

.keymap-key.drag-over {
  background-color: whitesmoke;
}

.keymap-encoder {
  border-radius: 50%;
}

.catalog-key {
  outline: solid;
  outline-width: 1px;
  outline-color: black;
  user-select: none;
}

.key-select-popup {
  width: 400px;
  border: solid;
  border-width: 1px;
  padding: 8px;
  background-color: white;
}

.list-label {
  width: 200px;
  align-items: start;
}

.list-key {
  width: 200px;
  align-items: end;
  font-size: smaller;
}

.keycatalog-key {
  outline: solid;
  outline-width: 1px;
  outline-color: black;
  user-select: none;
  font-size: 12px;
  text-align: center;

  :hover {
    background-color: whitesmoke;
  }
}

.macro-item-label {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
